$body-font-family: "Roboto Flex";

.v-application {
  background-color: rgb(var(--v-theme-background)) !important;
  font-family: $body-font-family, sans-serif !important;

  .v-card, .v-sheet {
    //background-color: rgb(var(--v-theme-surface)) !important;
    //color: rgb(var(--v-theme-on-surface-variant));
  }
}
