$body-font-family: "Roboto Flex";

.v-application {
  background-color: rgb(var(--v-background-base)) !important;
  font-family: $body-font-family, sans-serif !important;

  .v-card, .v-sheet {
    background-color: rgb(var(--v-surface-base)) !important;
    color: rgb(var(--v-text-base));
  }
}
